:root{
    --color-primary: #424242;
    --color-secondary: #F5F5F5;
}
html{
    font-size: 20px;
}
* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    color: var(--color-primary);
}

body{
    background-color: var(--color-secondary);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 3rem;
    min-height: 100vh;
}


header, footer{
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary);
    align-items: center;
    gap: .5rem;
    height: 7vh;
    min-height: 80px;
    border-bottom: 2px solid var(--color-primary);
}


